/**
 * Override Bootstrap Responsive CSS to enhance Melany's design for small devices
 *
 * @since 0.4
 */

@media (max-width: 767px){
	/* Reduce paddings for smaller devices */
	body{
		padding-left:2px;
		padding-right:2px;
	}
	.hero-unit{
		padding:10px;
	}
	/* Fix header padding */
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top{
		margin-right:-2px;
		margin-left:-2px;
	}
	/* Fix post meta width in homepage */
	.hero-unit .row-fluid{
		width:auto;
	}
	.hero-unit h1{
		text-align:center;
	}
	.hero-unit .entry-meta{
		padding-left:0;
		text-align:center;
	}
	/* Center more button */
	.hero-unit .btn{
		float:none;
	}
	.hero-unit .more-button{
		text-align:center;
	}
}

@media (max-width: 979px) {
    /* Dropdowns */
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-submenu:hover > a,
    .dropdown-submenu:focus > a {
        background-color: #111;
        background-image: -moz-linear-gradient(top, #111, #111);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111), to(#111));
        background-image: -webkit-linear-gradient(top, #111, #111);
        background-image: -o-linear-gradient(top, #111, #111);
        background-image: linear-gradient(to bottom, #111, #111);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111', endColorstr='#111', GradientType=0);
    }
}
