/**
 * Override Bootstrap Responsive CSS to enhance Melany's design for small devices
 *
 * @since 0.4
 */

@media (max-width: 767px){
	/* Reduce paddings for smaller devices */
	body{
		padding-left:2px;
		padding-right:2px;
	}
	.blog .hero-unit{
		padding:10px;
	}
	/* Fix header padding */
	.navbar-fixed-top,
	.navbar-fixed-bottom,
	.navbar-static-top{
		margin-right:-2px;
		margin-left:-2px;
	}
	/* Fix post meta width in homepage */
	.hero-unit .row-fluid{
		width:auto;
	}
}
