//
// Buttons
// --------------------------------------------------

// Edit link
// -------------------------

// Posts and pages
.page-header .edit-link {
	margin-top: ( @line-height-computed / 2 );
	margin-bottom: ( @line-height-computed / 2 );
	// Align button with page title
	@media (min-width: @screen-sm) {
		margin-top: floor(@line-height-computed * 1.3 );
	}
}
