//
// Comments
// --------------------------------------------------

.media-list {
	margin-top:@line-height-computed;
	margin-bottom:(@line-height-computed / 2);
}

.comment {
	padding-top:@line-height-computed;
	padding-bottom:(@line-height-computed / 2);
	border-top:1px solid @gray-light;
	border-bottom:1px solid @gray-light;
	.border-radius(@border-radius-base);
}
