//
// Menus
// --------------------------------------------------

// Body
// -------------------------

.menu-toggle {
	float:left;
	margin-left:15px;
	margin-right:0;
}

// Dropdowns
// -------------------------
// Enables support for multilevel dropdown menus

.dropdown-submenu {
	position:relative;

	> .dropdown-menu {
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
		.border-radius(0 6px 6px 6px);
	}

	&:hover > .dropdown-menu {
		display:block;
	}

	> a:after {
		display:block;
		content: " ";
		float:right;
		width:0;
		height:0;
		border:5px 0 5px 5px solid transparent;
		border-left-color:@dropdown-fallback-border; // IE8 fallback
		border-left-color:@dropdown-border;
		margin-top:5px;
		margin-right:-10px;
	}

	&:hover > a:after {
		border-left-color:#fff;
	}

	.pull-left {
		float:none;
	}

	&.pull-left > .dropdown-menu {
		left:-100%;
		margin-left:10px;
		.border-radius(6px 0 6px 6px);
	}

	.arrow {
		float:right;
		color:@text-muted;
	}
}