//
// Menus
// --------------------------------------------------

// Body
// -------------------------

.menu-toggle {
	display:none;
	cursor:pointer;
}
.main-small-navigation ul {
	display:none;
}
@media screen and (max-width:600px) {
	.navigation-main ul {
		display:none;
	}
}
