/* =Asides
----------------------------------------------- */

.blog,
.archive {
	.format-aside .entry-title {
		display: none;
	}
}

// Widgets
.widget-title,
.widgettitle {
	font-size: @font-size-large;
	background:@jumbotron-bg;
	.border-radius( 6px );
	padding-left:1em;
}

.widget {
	ul {
		list-style-type:square;
		padding-left:1em;
	}
	div {
		padding-left:1.8em;
	}
}

	// Widget Text
.widget_text {
	div {
		padding-left:0;

		p {
			padding-left:1.8em;
		}
	}
}

	// Widget Nav Menu
.widget_nav_menu {
	div {
		padding-left:0;
	}
}
