//
// Variables
// --------------------------------------------------

// Global values
// --------------------------------------------------

@green:						#5cb85c;

// Links
// -------------------------

@link-color:			@green;

// Typography
// -------------------------

@font-family-sans-serif:		"Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-size-base:						16px;

@line-height-base:					1.25; // 20/16
